.seredina{
	width: 75%;
	min-width: 400px;
	background-color: #333;
	margin: auto;
	padding: 10px 25px;
	box-sizing: border-box;
	border-radius: 20px;
}

body{
	background-color: #111;
}

.text{
	color: #eee;
	font-family: monospace;
	text-indent: 1.5em;
	line-height: 2;
}

.big{
	font-size: 50px;
}

.normal{
	font-size: 35px;
}

.center{
	text-align: center;
}

a{
	color: #FFC000
}

img{
	height: 300px;
	border: solid #444 3px;
	border-radius: 15px;
}

.red{
  color: #f00;
}

input{
  display: none;
}

input + label{
  display: block;
  opacity: 1;
}

input:checked + label{
  display: none;
  transition: opacity 0.5s ease;
}


.right{
  text-align: right;
  font-weight: 900
}

