html{
	font-family: System-UI;
}

.wraper{
	backdrop-filter: blur(10px);
}

.site{
	min-width: 400px;
	/*height: 1000px;*/
	width: 55%;
	margin: -29px auto 0 ;
	background-color: #ffffff;
}

hr{
	color: black;
}

.header{
	background-color: #4d97ff;
	height: 100px;
}

body{
	padding: 0px;
	margin: 0px;
	background-image: url("bg.jpg");
	background-attachment: fixed;
	background-size: cover;
}

h1{
	font-weight: 100;
	font-size: 80px;
	height: 100%;
	width: 60%;
	color: #FFFFFF;
	float: right;
}

.header img{
	float: left;
	border: solid #4d97ff 10px;
	height: 80px;
	width: 80px;
	margin-left: calc(25% - 60px);
}

h2{
	font-size: 35px;
	margin-left: 15px;
}

h3{
	font-size: 25px;
	color: #222222;
	margin-left: 15px;
}

#first-p{
	width: 50%;
	float: left;
}

#first-p + img{
	float: right;
	box-sizing: content-box;
	width: 42%;
}

.text{
	font-size: 25px;
	margin: 20px 15px 10px 30px;
	text-indent: 1.5em;
	line-height: 1.5;
}

li p{
	font-size: 25px;
	margin-left: 30px;
}

.podpis{
	font-size: 15px;
	margin-left: 15px;
	color: #aaaaaa;
	margin-top: -3px;
}

img{
	width: 100%;
	border: solid #888888 15px;
}

.filler{
	height: 10px;
}

img + h2{
	width: 100px;
}
